[Unit]
Description=GWAY event sound hotplug %i

[Service]
Type=oneshot
User=arthe
Group=arthe
Environment=GWAY_EVENT_SOUND_VOLUME=0.21
ExecStart=/home/arthe/.local/bin/gway-event-sound-hotplug %i
NoNewPrivileges=true
